/***********************************************************
  Central Color Mapping Base for all components to iterate
***********************************************************/

@colors: {
  @primary: {
    color      : @primaryColor;
    lightColor : @lightPrimaryColor;
    border     : @primaryColor;
    text       : @primaryColor;
    hover      : @primaryColorHover;
    lightHover : @lightPrimaryColorHover;
  };
  @secondary: {
    color      : @secondaryColor;
    lightColor : @lightSecondaryColor;
    border     : @secondaryColor;
    text       : @secondaryColor;
    hover      : @secondaryColorHover;
    lightHover : @lightSecondaryColorHover;
  };
  @red: {
    color      : @red;
    lightColor : @lightRed;
    border     : @redBorderColor;
    text       : @redTextColor;
    hover      : @redHover;
    lightHover : @lightRedHover;
  };
  @orange: {
    color      : @orange;
    lightColor : @lightOrange;
    border     : @orangeBorderColor;
    text       : @orangeTextColor;
    hover      : @orangeHover;
    lightHover : @lightOrangeHover;
  };
  @yellow: {
    color      : @yellow;
    lightColor : @lightYellow;
    border     : @yellowBorderColor;
    text       : @yellowTextColor;
    hover      : @yellowHover;
    lightHover : @lightYellowHover;
  };
  @olive: {
    color      : @olive;
    lightColor : @lightOlive;
    border     : @oliveBorderColor;
    text       : @oliveTextColor;
    hover      : @oliveHover;
    lightHover : @lightOliveHover;
  };
  @green: {
    color      : @green;
    lightColor : @lightGreen;
    border     : @greenBorderColor;
    text       : @greenTextColor;
    hover      : @greenHover;
    lightHover : @lightGreenHover;
  };
  @teal: {
    color      : @teal;
    lightColor : @lightTeal;
    border     : @tealBorderColor;
    text       : @tealTextColor;
    hover      : @tealHover;
    lightHover : @lightTealHover;
  };
  @blue: {
    color      : @blue;
    lightColor : @lightBlue;
    border     : @blueBorderColor;
    text       : @blueTextColor;
    hover      : @blueHover;
    lightHover : @lightBlueHover;
  };
  @violet: {
    color      : @violet;
    lightColor : @lightViolet;
    border     : @violetBorderColor;
    text       : @violetTextColor;
    hover      : @violetHover;
    lightHover : @lightVioletHover;
  };
  @purple: {
    color      : @purple;
    lightColor : @lightPurple;
    border     : @purpleBorderColor;
    text       : @purpleTextColor;
    hover      : @purpleHover;
    lightHover : @lightPurpleHover;
  };
  @pink: {
    color      : @pink;
    lightColor : @lightPink;
    border     : @pinkBorderColor;
    text       : @pinkTextColor;
    hover      : @pinkHover;
    lightHover : @lightPinkHover;
  };
  @brown: {
    color      : @brown;
    lightColor : @lightBrown;
    border     : @brownBorderColor;
    text       : @brownTextColor;
    hover      : @brownHover;
    lightHover : @lightBrownHover;
  };
  @grey: {
    color      : @grey;
    lightColor : @lightGrey;
    border     : @greyBorderColor;
    text       : @greyTextColor;
    hover      : @greyHover;
    lightHover : @lightGreyHover;
  };
  @black: {
    color      : @black;
    lightColor : @lightBlack;
    border     : @blackBorderColor;
    text       : @blackTextColor;
    hover      : @blackHover;
    lightHover : @lightBlackHover;
  };
}